version: "3"

services:
  structurizr:
    image: registry.voogddev.com/voogd/structurizr:1.0.0
    environment:
      - VIRTUAL_HOST=http://structurizr.voogdlocal.com
      - SERVICE_PORTS=8080
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 30s
        max_attempts: 5
      placement:
        constraints: [node.platform.OS == linux]
    networks:
      - frontend
    # volumes:
    #   - /data/structurizr:/usr/local/structurizr
    
networks:
  frontend:
    external: true